.btn-wrapper {
  background: linear-gradient(45deg, #0e4061 0%, #1872ad 100%);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
}

.button-plus {
  color: #ffffff;
}
