.btn-wrapper {
  margin: auto;
  margin-top: 5px;
  background: linear-gradient(45deg, #034063 0%, #0693e3 100%);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
}
.btn-wrapper:hover {
  background: linear-gradient(45deg, #335c4c 0%, #7bdcb5 100%);
}

.button-plus {
  color: #ffffff;
  font-size: 25px;
  align-self: center;
}
