.btn-add-wrapper {
  justify-self: center;
  grid-area: add;
  background-color: #0693e3;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  transition: background-color 200ms linear;
}
.btn-add-wrapper:hover {
  background-color: #7bdcb5;
}

.button-plus {
  color: #ffffff;
  font-size: 25px;
  align-self: center;
}
