.btn-wrapper {
  margin: auto;
  margin-top: 5px;
  background-color: #0693e3;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.btn-wrapper:hover {
  background-color: #7bdcb5;
}

.button-plus {
  color: #ffffff;
  font-size: 25px;
  align-self: center;
}
