.color-selector {
  display: flex;
  margin: 10px 0px 10px 0px;
  justify-content: space-around;
  align-items: center;
}
.color {
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.color-selected {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
