.color-selector {
  display: flex;
  margin: 10px 0px 0px 0px;
  justify-content: space-between;
  align-items: center;
}
.color-wrapper {
  padding: 2px;
  border-radius: 100%;
  &.selected {
    border: 2px solid;
  }
}
.color {
  height: 17px;
  width: 17px;
  border-radius: 100%;
}
