.lbl-label {
  background: linear-gradient(45deg, #0e4061 0%, #1872ad 100%);
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-basis: 15%;
  margin: 10px 10px 0px 0px;
  height: 100px;
}

.lbl-actions-grabber {
  align-self: center;
}
.lbl-info {
  text-align: center;
  align-self: center;
  font-size: 20px;
}
.lbl-info-title {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
}
.lbl-info-time {
  font-size: 30px;
}
.lbl-info-date {
  font-size: small;
}
.lbl-actions-delete {
  cursor: pointer;
  align-self: center;
}
