.reset-btn-wrapper {
  height: 20px;
  display: flex;
  justify-content: center;
}
.reset-btn {
  background-color: #0693e3;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.reset-btn:hover {
  background-color: #7bdcb5;
}
