.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  border: 0.1px solid rgb(197, 197, 197);
  border-radius: 5px;
  user-select: none;
  font-size: x-large;
  font-weight: 100;
}

.n {
  background-color: rgb(126, 126, 126);
  color: white;
}

/* .current {
  font-weight: bold;
  background-color: rgb(192, 191, 255);
} */
