.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(30deg, #0e406100 0%, #65b2e62b 100%);
  border: none;
  border-radius: 5px;
  user-select: none;
  font-size: x-large;
  font-weight: 100;
  color: #0e4061;
}

.n {
  background: linear-gradient(30deg, #0e40615e 0%, #65b2e669 100%);
  border: none;
  color: #0e4061;
}
