.app {
  color: rgb(70, 70, 70);
  font-family: "Source Sans Pro", sans-serif;
  height: calc(100% - 100px);
  padding: 10px;
}

h1 {
  min-height: 50px;
  height: 5%;
  text-align: center;
  font-size: 36px;
  color: #034063;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0px;
}
