.reset-btn-wrapper {
  height: 20px;
  display: flex;
  justify-content: center;
}
.reset-btn {
  background-color: #0693e3;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.app {
  color: rgb(70, 70, 70);
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  text-align: center;
  font-size: 36px;
  background: -webkit-linear-gradient(#034063, #0693e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Source Sans Pro", sans-serif;
}

.reset-btn:hover {
  background-color: #7bdcb5;
}
