.reset-btn {
  background: linear-gradient(45deg, #034063 0%, #0693e3 100%);
  border-style: none;
  border-radius: 5px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}
.app {
  color: rgb(70, 70, 70);
}

h1 {
  text-align: center;
  font-size: 36px;
  background: -webkit-linear-gradient(#034063, #0693e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Source Sans Pro", sans-serif;
}

.reset-btn:hover {
  background: linear-gradient(45deg, #335c4c 0%, #7bdcb5 100%);
}
