.app {
  height: calc(100% - 20px);
  color: rgb(70, 70, 70);
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px;
  display: grid;
  grid-template-rows: 50px 20px 1fr;
  grid-template-areas:
    "header "
    "reset "
    "content";
}

.header {
  grid-area: header;
  text-align: center;
  font-size: 36px;
  color: #034063;
  font-family: "Source Sans Pro", sans-serif;
}
.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
}
